<h1>New Product</h1>

<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@product.errors.count, "error") %>
      prohibited this product from being saved:
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :image_url %>
    <%= f.input :price %>
    <%= f.button :submit %>
<% end %>
